body {
  margin: 0;
  font-family: "Georgia", serif;
  background-color: #f6f4f1;
  color: #2c2c2c;
}

.header {
  text-align: center;
  padding: 20px 16px 16px;
  background-color: #ffffff;
  border-bottom: 1px solid #e2ded8;
}

.logo {
  max-width: 160px;
  margin-bottom: 8px; /* aproxima da tipografia */
}

.header h1 {
  margin: 0px 0 0px;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #3a3a3a;
}

.header p {
  margin: 0;
  font-size: 15px;
  color: #6a6a6a;
  font-style: italic;
}


#map {
  width: 100%;
  height: 75vh;
}

.leaflet-popup-content {
  max-width: 280px;
  font-family: "Arial", sans-serif;
}

.card h3 {
  margin: 0;
  font-size: 16px;
  color: #5a1f2b; /* vinho */
}

.card small {
  display: block;
  margin-bottom: 6px;
  color: #777;
}

.card p {
  font-size: 13px;
  line-height: 1.45;
}

.card h4 {
  margin: 10px 0 4px;
  font-size: 14px;
  color: #5a1f2b;
}

.galeria {
  display: flex;
  gap: 6px;
  margin-bottom: 8px;
  overflow-x: auto;
}

.galeria img {
  height: 78px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #fff;
}
.galeria a img {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.galeria a img:hover {
  transform: scale(1.05);
}
